In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, unix_timestamp, udf, lag, sum as spark_sum
from pyspark.sql.window import Window
from pyspark.sql.types import StringType, DoubleType
from shapely.geometry import Point, shape
import json

spark = (SparkSession.builder
                    .appName('NewYorkCityTaxiData')
                    .getOrCreate()
        )

In [2]:
spark

In [15]:
nyc_taxi_data = spark.read.option("header", "true").csv("input/Sample NYC Data.csv")

nyc_taxi_data.show()

+--------------------+--------------------+---------+---------+------------------+---------------+----------------+---------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|pickup_datetime|dropoff_datetime|passenger_count|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+---------+------------------+---------------+----------------+---------------+----------------+---------------+-----------------+----------------+
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N| 01-01-13 15:11|  01-01-13 15:18|              4|      -73.978165|      40.757977|       -73.989838|       40.751171|
|0BD7C8F5BA12B88E0...|9FD8F69F0804BDB55...|      CMT|        1|                 N| 06-01-13 00:18|  06-01-13 00:22|              1|      -74.006683|      40.731781|       -73.994499|        40.75066|
|0BD7C8F5BA12B88E0...|9FD8F69F0804BDB55...|      CMT|        1|                 N| 05-01-13 18:49|  05-01-13 18:54|              1|      -74.004707|       40.73777|       -74.009834|       40.726002|
|DFD2202EE08F7A8DC...|51EE87E3205C985EF...|      CMT|        1|                 N| 07-01-13 23:54|  07-01-13 23:58|              2|      -73.974602|      40.759945|       -73.984734|       40.759388|
|DFD2202EE08F7A8DC...|51EE87E3205C985EF...|      CMT|        1|                 N| 07-01-13 23:25|  07-01-13 23:34|              1|       -73.97625|      40.748528|       -74.002586|       40.747868|
|20D9ECB2CA0767CF7...|598CCE5B9C1918568...|      CMT|        1|                 N| 07-01-13 15:27|  07-01-13 15:38|              1|      -73.966743|      40.764252|       -73.983322|       40.743763|
|496644932DF393260...|513189AD756FF14FE...|      CMT|        1|                 N| 08-01-13 11:01|  08-01-13 11:08|              1|      -73.995804|      40.743977|       -74.007416|       40.744343|
|0B57B9633A2FECD3D...|CCD4367B417ED6634...|      CMT|        1|                 N| 07-01-13 12:39|  07-01-13 13:10|              3|      -73.989937|      40.756775|        -73.86525|        40.77063|
|2C0E91FF20A856C89...|1DA2F6543A62B8ED9...|      CMT|        1|                 N| 07-01-13 18:15|  07-01-13 18:20|              1|      -73.980072|      40.743137|       -73.982712|       40.735336|
|2D4B95E2FA7B2E851...|CD2F522EEE1FF5F5A...|      CMT|        1|                 N| 07-01-13 15:33|  07-01-13 15:49|              2|      -73.977936|      40.786983|       -73.952919|        40.80637|
|E12F6AF991172EAC3...|06918214E951FA000...|      CMT|        1|                 N| 08-01-13 13:11|  08-01-13 13:19|              1|      -73.982452|      40.773167|       -73.964134|       40.773815|
|E12F6AF991172EAC3...|06918214E951FA000...|      CMT|        1|                 N| 08-01-13 09:50|  08-01-13 10:02|              1|       -73.99556|      40.749294|       -73.988686|       40.759052|
|78FFD9CD0CDA541F3...|E949C583ECF62C8F0...|      CMT|        1|                 N| 10-01-13 12:07|  10-01-13 12:17|              1|      -73.971497|      40.791321|       -73.964478|       40.775921|
|237F49C3ECC11F502...|93C363DDF8ED9385D...|      CMT|        1|                 N| 07-01-13 07:35|  07-01-13 07:46|              1|       -73.98851|      40.774307|       -73.981094|       40.755325|
|3349F919AA8AE5DC9...|7CE849FEF67514F08...|      CMT|        1|                 N| 10-01-13 15:42|  10-01-13 16:04|              1|      -73.994911|      40.723221|       -73.971558|       40.761612|
|3349F919AA8AE5DC9...|7CE849FEF67514F08...|      CMT|        1|                 N| 10-01-13 14:27|  10-01-13 14:45|              1|      -74.010391|      40.708702|       -73.987846|       40.756104|
|4C005EEBAA7BF26B8...|351BE7D984BE17DB2...|      CMT|        1|                 N| 07-01-13 22:09|  07-01-13 22:19|              1|      -73.973732|      40.756287|       -73.998413|       40.756832|
|7D99C30FCE69B1A9D...|460C3F57DD9CB2265...|      CMT|        1|                 N| 07-01-13 17:18|  07-01-13 17:20|              1|      -73.968925|      40.767704|        -73.96199|       40.776566|
|E6FBF80668FE0611A...|36773E80775F26CD1...|      CMT|        1|                 N| 07-01-13 06:08|  07-01-13 06:13|              1|       -73.96212|      40.769737|       -73.979561|        40.75539|
|0C5296F3C8B16E702...|D2363240A9295EF57...|      CMT|        1|                 N| 07-01-13 22:25|  07-01-13 22:36|              1|      -73.989708|      40.756714|       -73.977615|       40.787575|
+--------------------+--------------------+---------+---------+------------------+---------------+----------------+---------------+----------------+---------------+-----------------+----------------+
only showing top 20 rows

In [5]:
nyc_taxi_data = nyc_taxi_data.withColumn("pickup_longitude", col("pickup_longitude").cast(DoubleType()))
nyc_taxi_data = nyc_taxi_data.withColumn("pickup_latitude", col("pickup_latitude").cast(DoubleType()))
nyc_taxi_data = nyc_taxi_data.withColumn("dropoff_longitude", col("dropoff_longitude").cast(DoubleType()))
nyc_taxi_data = nyc_taxi_data.withColumn("dropoff_latitude", col("dropoff_latitude").cast(DoubleType()))

In [24]:
# Load Borough GeoJSON Data
with open("input/nyc-boroughs.geojson") as f:
    geojson_data = json.load(f)
    # for feature in geojson_data["features"]:
    #     print(feature["properties"]["borough"])

# Broadcast GeoJSON Data
geo_broadcast = spark.sparkContext.broadcast(geojson_data)

In [6]:
def get_borough(lon, lat):
    if lon is None or lat is None:
        return None
    point = Point(lon, lat)
    for feature in geo_broadcast.value["features"]:
        polygon = shape(feature["geometry"])
        if polygon.contains(point):
            return feature["properties"]["borough"]
    return "Unknown"

borough_udf = udf(get_borough, StringType())

In [7]:
nyc_taxi_data = nyc_taxi_data.withColumn("pickup_borough", borough_udf("pickup_longitude", "pickup_latitude"))
nyc_taxi_data = nyc_taxi_data.withColumn("dropoff_borough", borough_udf("dropoff_longitude", "dropoff_latitude"))

In [8]:
# Convert Datetime Columns
nyc_taxi_data = nyc_taxi_data.withColumn("pickup_ts", unix_timestamp(col("pickup_datetime"), "dd-MM-yy HH:mm"))
nyc_taxi_data = nyc_taxi_data.withColumn("dropoff_ts", unix_timestamp(col("dropoff_datetime"), "dd-MM-yy HH:mm"))

# Calculate Trip Duration
nyc_taxi_data = nyc_taxi_data.withColumn("duration", col("dropoff_ts") - col("pickup_ts"))

# Filter Negative & Unrealistic Trips (more than 4 hours)
nyc_taxi_data = nyc_taxi_data.filter((col("duration") > 0) & (col("duration") <= 4 * 3600))

In [ ]:
# Window to Partition by Taxi ID and Order by Pickup Time
window_spec = Window.partitionBy("medallion").orderBy("pickup_ts")

# Previous Dropoff Time
nyc_taxi_data = nyc_taxi_data.withColumn("previous_dropoff", lag("dropoff_ts").over(window_spec))

# Idle Time Calculation
nyc_taxi_data = nyc_taxi_data.withColumn("idle_time", col("pickup_ts") - col("previous_dropoff"))

# Filter Outliers (Idle Time <= 4 hours)
nyc_taxi_data = nyc_taxi_data.filter((col("idle_time") > 0) & (col("idle_time") <= 4 * 3600))

# Aggregate Utilization
utilization_df = nyc_taxi_data.groupBy("medallion").agg(
    spark_sum("duration").alias("total_trip_time"),
    spark_sum("idle_time").alias("total_idle_time")
)

# Utilization Formula
utilization_df = utilization_df.withColumn("utilization", col("total_trip_time") / (col("total_trip_time") + col("total_idle_time")))

print("Utilization per Taxi:")
utilization_df.show(truncate=False)

Utilization per Taxi:

In [ ]:
# Search Time Calculation
nyc_taxi_data = nyc_taxi_data.withColumn("search_time", col("pickup_ts") - col("previous_dropoff"))

# Average Search Time per Borough
avg_search_df = nyc_taxi_data.groupBy("dropoff_borough").agg({"search_time": "avg"}) \
    .withColumnRenamed("avg(search_time)", "avg_search_time")

print("Average Search Time per Borough:")
avg_search_df.show(truncate=False).take(10)

In [ ]:
# Same Borough Trips
same_borough_df = nyc_taxi_data.filter(col("pickup_borough") == col("dropoff_borough")) \
    .groupBy("pickup_borough").count() \
    .withColumnRenamed("count", "same_borough_trips")

print("Same Borough Trips:")
same_borough_df.show(truncate=False)

In [ ]:
# Different Borough Trips
diff_borough_df = nyc_taxi_data.filter(col("pickup_borough") != col("dropoff_borough")) \
    .groupBy("pickup_borough", "dropoff_borough").count() \
    .withColumnRenamed("count", "different_borough_trips")

print("Different Borough Trips:")
diff_borough_df.show(truncate=False)